.main {
  margin-top: 25px;
}

.before-comment {
  margin-top: 50px;
}

.item-date {
  width: auto;
  color: white;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.item-text {
  padding-left: 6px;
  font-size: 18px;
  padding-top: 10px;
  display: block;
  color: white;
}
.hr {
  margin: 5px;
  color: #598c5e;
}
.item-username {
  width: auto;
  color: #fff;
  font-family: Montserrat;
  font-size: 25.621px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.reply-btn {
  margin-top: 10px;
  background-color: #598c5e;
  color: white;
  padding: 7px;
  border-radius: 3px;
}

.item-reply-message {
  font-size: 9px;
  color: #5a4848;
}
