.singlePage {
  padding: 50px 0;
  background: #6bab96;
}
.singlePage .right {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.App {
  float: left;
}
.singlePage img {
  width: 400px;
  height: auto;
}
.singlePage .container .wrapper {
  display: flex;
}
.singlePage h1 {
  font-size: 30px;
  font-weight: 500;
}
.singlePage p {
  margin: 20px 0;
  font-size: 17px;
  line-height: 1.5;
  text-transform: capitalize;
}
.singlePage .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
.singlePage .button {
  margin-left: 20px;
  border: none;
}
.singlePage .button:nth-child(1) {
  background: #10ac84;
}
.singlePage .button:nth-child(2) {
  background: #ee5253;
}
.updateInput {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  font-family: serif;
  background: white !important;
}

.left {
  max-width: 400px;
  margin: 0 auto;
}

.page-title {
  font-size: 26px;
  font-weight: 700;
}

.page-des {
  font-size: 14px;
  color: #767070;
}
.page-name {
  font-size: 19px;
  font-weight: 500;
  margin-right: auto;
}

/* .flexCenter {
  display: block !important;
} */

.user-role-desc {
  text-align: justify;
  font-size: 15px;
}
.user-website a {
  font-size: 16px;
  color: white; /* Change this color to your preferred color */
  text-decoration: underline;
}
.icon {
  margin-right: 8px;
}
.comment-btn {
  border: 1px solid transparent;
  margin-top: 20px;
  font-size: 18px;
  font-family: serif;
  padding: 7px 18px;
  border-radius: 5px;
  background-color: #598c5e;
  color: white;
}
.page-des {
  color: white !important;
}
.right {
  color: white;
}
